@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
}

.gradient-bg {
  background: linear-gradient(135deg, #14B8A6, #4B0082);
}